<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.dao.AdminMapper">

    <update id="updatePwd" parameterType="Admin">
        update admin
        set  password=#{password}
        where username='admin';
    </update>

    <select id="findAdmin" resultType="Admin">
        select * from admin
        where username=#{0}
        and password=#{1}
    </select>

</mapper>