<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.dao.GuestsMapper">

    <insert id="addGuests" parameterType="Guests">
        insert into guests ( Name,Sex,Card,Phone,EnterTime,ExitTime,Num,H_Type)
         values (#{Name},#{Sex},#{Card},#{Phone},#{EnterTime},#{ExitTime},#{Num},#{H_Type});
    </insert>

    <delete id="deleteGuestsById" parameterType="int">
        delete from guests
        where id=#{id};
    </delete>

    <update id="updateGuestsById" parameterType="Guests">
        update guests
        set Name=#{Name},Sex=#{Sex},Card=#{Card},Phone=#{Phone},EnterTime=#{EnterTime},ExitTime=#{ExitTime},Num=#{Num},H_Type=#{H_Type}
        where  id=#{id} ;
    </update>

    <select id="queryAllGuests" resultType="Guests">
        select *  from guests;
    </select>

    <select id="queryGuestsById" resultType="Guests">
        select * from guests
        where id=#{id};
    </select>

    <select id="queryGuestsByPhone" resultType="Guests">
        select * from guests
        where phone=#{phone};
    </select>

</mapper>